name: Run Tests on Implementation

on:
    push:
        branches: main
    pull_request:
        branches: main


jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
    
      - name: Install dependencies
        run: |
            chmod +x setup.sh
            sudo ./setup.sh

      - name: Run tests
        run: |
            chmod +x check.sh
            ./check.sh 2>&1 | tee tests_results.txt
      
      - name: Upload test logs as artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: checker-logs
          path: |
            tests_results.txt
            # Without `*` globbing, folders files will not be uploaded
            tests-out/*
          retention-days: 7